.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

    .slide{
        width:100%;
        display: none;
    }
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0.204);
        padding: 10px;
        color: white;
        border: none;
        cursor: pointer;
    }
    button.prev{
        left: 0;
    }
    button.next{
        right: 0;
    }
}
img.displaySlide{
    display: block !important;
    animation-name: fade;
    animation-duration: .5s;
}
@keyframes fade{
    from {opacity: .5}
    to {opacity: 1;}
}