body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: smokewhite;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.275);
    border-radius: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(58, 177, 165, 1);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgba(58, 177, 165, .5);
}
button[type="submit"]:active{
    background-color: rgb(48, 141, 131);
}
.card{
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 25px;
    margin: 20px;
    width: 640px;
    height: auto;
}
.card-col-emoji{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 200px;
    border-radius: 20px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    p{
        font-size: 8rem;
        margin: 0;
    }
}
@keyframes fade{
    from {opacity: 0}
    to {opacity: 1;}
}
.card-flex{
    display: flex;
    justify-content: space-between;
}
.errorDisplay{
    text-align: center;
    background-color: pink;
    border: 2px solid rgb(255, 137, 157);
    padding: 10px;
    border-radius: 15px;
    color: maroon;
}
@media (max-width: 700px) {
    .card{
        width: fit-content;
    }
    .card-flex{
        display: block;
    }
    .weatherForm{
        display: flex;
        flex-direction: column;

        button[type="submit"]{
            width: 100%;
        }
        .cityInput{
            width: 95%;
        }
    }
}
.backgroundCloudy{
    animation-name: fade-cloudy;
}
.backgroundSunny{
    animation-name: fade-sunny;
}
.backgroundRainy{
    animation-name: fade-rainy;
}
.backgroundThunder{
    animation-name: fade-thunder;
}
@keyframes fade-cloudy {
    0% {background-color: rgb(212, 212, 212);}
    50% {background-color: white;}
    100% {background-color: rgb(212, 212, 212);}
}
@keyframes fade-sunny {
    0% {background-color: rgb(125, 248, 235);}
    50% {background-color: rgb(255, 216, 99);}
    100% {background-color: rgb(125, 248, 235);}
}
@keyframes fade-rainy {
    0% {background-color: rgb(212, 212, 212);}
    50% {background-color: rgb(119, 155, 193);}
    100% {background-color: rgb(212, 212, 212);}
}
@keyframes fade-thunder {
    0% {background-color: rgb(119, 155, 193);}
    50% {background-color: rgb(223, 208, 121);}
    100% {background-color: rgb(119, 155, 193);}
}