*{
    font-family: monospace;
}
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calc-body{
    display: grid;
    height: 625px;
    width: 400px;
    background-color: rgb(112, 42, 42);
    border-radius: 15px;

    .calc-faceplate{
        display: flex;
        justify-self: center;
        background-color: antiquewhite;
        width: 350px;
        height: 525px;
        flex-direction: column;
    }
}
.label{
    text-align: center;
    color: antiquewhite;
}
#screen{
    background-color: rgb(78, 100, 78);
    width: 300px;
    height: 100px;
    margin: 21px;
    font-size: 3em;
    text-align: end;
    color: black;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button{
    width: 75px;
    height: 65px;
    margin: 4px;
    font-size: 3em;
    cursor: pointer;
    background-color: salmon;
    transition: 0.05s;
}
button.butNum{
    background-color: rgb(196, 193, 193);
}
button:hover{
    background-color: whitesmoke;
}
button:active{
    background-color: white;
    color: grey;
}
button.empty{
    background-color: rgba(0, 0, 0, 0);
    cursor: auto;
    border: none;
}